.Scuola {
  background: $red;
  color: white;

  .Subtitle a {
    color: #fff;
    opacity: 0.5;
  }

  .Section__content {
    text-align: center;
    
    img {
      @extend %Img;
    }

    .btn-outline-primary {
      color: white;
      border-color: white;
    }
    
    a:hover img {
      @extend %Img-hover;
    }
  
    .btn {
      margin: 2rem 0;
    }
  }
}
