$logo-circle-size: 440px;

.Header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom-right-radius: 50%;
  background: white;

  @include media-breakpoint-up(lg) {
    background: transparent;
  }

  .nav-link {
    color: black;

    @include media-breakpoint-up(lg) {
      color: white;
    }

    &.active {
      color: $primary;
    }
  }

  .navbar-brand {
    position: relative;

    img {
      height: 128px;
      transition: all .3s ease-in-out;
    }

    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      border-radius: 100%;
      background: white;
      transition: all .3s ease-in-out;
      
      top: 0;
      left: -30vw;
      width: 160vw;
      height: $logo-circle-size;
      margin-top: -($logo-circle-size / 1.5);

      @include media-breakpoint-up(lg) {
        top: 10%; // 50%;
        left: 50%; // 50%;
        width: $logo-circle-size;
        margin-top: -($logo-circle-size / 2);
        margin-left: -($logo-circle-size / 2);
      }
    }
  }

  &.is-fixed {
    .navbar-brand:before {
      width: 140vw;
      height: 320px;
      top: 0;
      left: -20vw;
      margin-left: 0;
      border-bottom-left-radius: 0;

      @include media-breakpoint-up(lg) {
        left: -40vw;
      }
    }

    .navbar-brand img {
      height: 80px;
    }

    .nav-link {
      color: black;
    }
  }

  .navbar-nav {
    margin-left: auto;
  }
}